*__pycache__*
/scripts/.venv
/scripts/utils/source_data
catboost_info/
datasets/patients_registered_gp_practice/england/
scripts/machine_learning/dhsc_fingertips_data
scripts/machine_learning/gp_prescribing_data
config/
*.gz